---
layout: default
title: Case Studies
category: case_studies
description: Made includes a beautiful grid-based blog with pagination.
featured_image: /images/social.jpg
---

<div class="page-blog">
	<header class="header--single">
		<div class="wrap">
			<h1 class="header__title">Case Studies</h1>
			<p class="header__subtitle subtitle--light">Find out what I've been up through my latest photo blogging adventures.</p>
		</div>
	</header>

	<section class="all-posts">
		<div class="wrap">
			<div class="posts__list grid">
				{% for post in site.case_studies %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>
		</div>
	</section>
</div>