<section class="services">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="services__content">
        <h2 class="title">Our Services</h2>
        <div style="display: flex; flex-flow: wrap;">
            <h4>Redesign Services</h4>
            <p>Multiple processes for reducing risk during the redesign process.</p>
            <ul>
            <li>Risk assessment</li>
            <li>Baseline audit</li>
            <li>SEO audit</li>
            <li>Content migration</li>
            <li>Design / development advisory</li>
            <li>Launch audit</li>
            <li>Post-Launch Monitoring</li>
            <li>Recovering from lost visits & leads</li>
            </ul>
            <h4>Redesign Alternatives</h4>
            <p>A scientific method for improving lead generation without risking your entire business.</p>
            <ul>
                <li>Landing page creation</li>
                <li>Conversion optimization</li>
            </ul>
            <h4>Consulting</h4>
            <p>Expertise in the following.</p>
            <ul>
            <li>Redesign planning</li>
                <li>SEO</li>
                <li>Google ads</li>
                <li>Conversion optimization</li>
                <li>Sales enablement</li>
                <li>CRM setup / selection</li>
                <li>Remarketing</li>
                <li>SEO vetting / hiring</li>
                <li>Content marketing processes</li>
            </ul>
        </div>
    </div>
  </div>
</section>