<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/stressed-out.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title"></h2>
      <p class="subtitle subtitle--light">Your company has an 1,855% greater chance of losing traffic after a redesign than being audited by the IRS.
      </p>

      <p>We’ve monitored thousands of sites and found that 18% experience a traffic drop after being redesigned compared to the 2019 IRS corporate audit rate of 0.97%.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>