---
layout: default
overtitle: We Help You Look Awesome
title: Services
description: Show off your best work with this beautiful, minimal and customizable portfolio theme.
category: services
featured_image: /images/social.jpg
---
<div class="page-blog">
	<header class="header--single">
		<div class="wrap">
			<h1 class="header__title">Services</h1>
			<p class="header__subtitle subtitle--light">This is what we do.</p>
		</div>
	</header>

	<section class="all-posts">
		<div class="wrap">
			<div class="posts__list grid">
			   {% for post in site.services %}
               {% include component__service-preview.html %}
               {% endfor %}
			</div>
		</div>
	</section>
</div>