---
layout: default
title: Archived Posts
description: Archived blog posts fro GainTap between 2015 - 2021.
featured_image: /images/social.jpg
---

<div class="page-blog">
	<header class="header--single">
		<div class="wrap">
			<h1 class="header__title">Archived Posts</h1>
			<p class="header__subtitle subtitle--light">Oldies but goodies since 2015 that are no longer on our main blog.</p>
		</div>
	</header>

	<section class="all-posts">
		<div class="wrap">
			<div class="posts__list grid">
				{% for post in site.archived %}
				{% include component__post_preview.html %}
				{% endfor %}
			</div>
		</div>
	</section>
</div>