---
layout: default
overtitle: Website Redesign Guide
title: Services
description: We walk you through redesigning your company's website with a focus on maintaining SEO and lead generation.

featured_image:
---
<div class="page-blog">
	<header class="header--single">
		<div class="wrap">
			<h1 class="header__title">Website Redesign</h1>
			<p class="header__subtitle subtitle--light"></p>
		</div>
	</header>

	<section class="all-posts">
		<div class="wrap">
			<div class="posts__list grid">
               {% assigned sortedPosts = site.redesign_guide | sort: 'title'% }
			   {% for post in sortedPosts %}
               {% include component__service-preview.html %}
               {% endfor %}
			</div>
		</div>
	</section>
</div>